@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  margin: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  @apply bg-neutral-900 text-neutral-300 p-0 m-0
}
.noScrollBar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.noScrollBar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
